<template>
  <md-content class="content md-elevation-15">
    <h1>{{ title }}</h1>
    <p>
      You are free to complete this project in any language through which you can
      demonstrate a working project on one of the following platforms: Microsoft
      Windows, Mac, iOS, or Android devices. If your solution is web-based, then we must
      be able to view your solution using Chrome, Internet Explorer, Firefox, or Safari.
    </p>
    <div class="requirements">
      <h2>Primary Requirments</h2>
      <ul>
        <li>Display the numbers 1 to 100 in a 2-dimensional grid.</li>
        <li>The grid should be 10 columns wide and 10 rows high.</li>
        <li>Add a checkbox to the screen containing the grid.</li>
        <li>The checkbox should be labelled, “Primes”.</li>
        <li>When the Primes checkbox is true, highlight the prime numbers in the grid.</li>
        <li>When the Primes checkbox is false, no numbers should be highlighted.</li>
      </ul>
      <h2>Secondary Requirments</h2>
      <ul>
        <li>Add a header above the grid.</li>
        <li>In the header, add a label called “Total”.</li>
        <li>Next to the total, show the sum of the numbers in the grid.</li>
        <li>When the Primes checkbox is true, the total should be the sum of all primes in the grid.</li>
        <li>When the Primes checkbox is false, the total should be the sum of all the numbers.</li>
      </ul>
    </div>
  </md-content>
</template>

<script>
  export default {
    name: 'Instructions',
    props: {
      title: String
    }
  }
</script>

<style scoped lang="scss">
  .content {
    max-width: 800px;
    margin: 20px auto;
    padding: 5px 10px;
  }

  .requirements {
    text-align: left;
  }

  h1 {
    line-height: 14px;
  }
</style>