<template>
  <md-content class="component">
    <md-app-toolbar class="md-accent flex">
      <span class="md-title">Total: {{ total }}</span>
      <md-checkbox class="md-primary" v-model="primes">Primes</md-checkbox>
    </md-app-toolbar>
    <md-content>
      <ul>
        <li v-for="(n, index) in 100" :key="index" :class="{'prime': isPrime(n) && primes }" class="md-elevation-5" >
          {{ n }}
        </li>
      </ul>

    </md-content>
  </md-content>
</template>

<script>
  export default {
    name: 'NumberGrid',
    props: {
      index: Number,
      primes: Boolean
    },
    computed: {
      total: function() {
        let tot = 0;
        for (let n = 1; n <= 100; n++) {
          if(this.primes) {
            if(this.isPrime(n)) {
              tot += n;
            }
          } else {
            tot += n;
          }
        }
        return tot;
      }
    },
    methods: {
      isPrime: function(n) {
        if(n === 1) {
          return false;
        }
        for(let i = 2; i < n; i++) {
          if(n % i === 0) {
            return false;
          }
        }
        return true;
      }
    }
  }
</script>

<style scoped lang="scss">
  .flex {
    display: flex;
    justify-content: space-between;
  }
  .component {
    max-width: 800px;
    margin: 50px auto;
  }
  ul {
    list-style-type: none ;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;

    li {
      flex-basis: calc(10% - 10px);
      width: 100%;
      margin: 5px;
      padding: 15px 0;
      transition: .3s;

      &.prime {
        background-color: #ffff0087;
      }
    }
  }
</style>