@import "~vue-material/dist/theme/engine";
@include md-register-theme("default", (
        primary: md-get-palette-color(blue, A200),
        accent: md-get-palette-color(red, A200),
        theme: light
));
@import "~vue-material/dist/theme/all"; // Apply the theme