<template>
  <md-app style="min-height: 100vh;">
    <md-app-toolbar class="md-primary">
      <span class="md-title">Code Scientist Interview Project</span>
    </md-app-toolbar>
    <md-app-content>
      <div id="app">
        <Instructions title="Project Objective"/>
        <NumberGrid/>
      </div>
    </md-app-content>
  </md-app>

</template>

<script>
import Instructions from './components/Instructions'
import NumberGrid from './components/NumberGrid'

export default {
  name: 'App',
  components: {
    Instructions,
    NumberGrid
  }
}
</script>

<style lang="scss">
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
</style>
